<%-include partials/reg_login_header.ejs %>

<div class="container text-center">
    <h2>wanted  to  logout</h2>
    <br/>
       <h3>Touch me :
           <br/>
      <a href="/logout" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </h3>
    </a> 
  </div>




<%-include partials/reg_login_footer.ejs %>