<div class="container-fluid bg-danger">
        <a href="/logout" class="btn btn-info btn-lg logout-btn">logout</a>
    <h2 class="text-center text-white nav-pad">ADMIN PANEL</h2>
   
</div>
<div class="wrapper">
    <nav class="sidebar">
            <ul class="list-unstyled components">
          <li>
              <a href="/admin">Home</a>
          </li>
            <li>
                <a href="/admin/categories">Categories</a>
            </li>
            <li>
                <a href="/admin/products">Products</a>
            </li>
           
        </ul>
    </nav>

</div>